<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/create.css">
</head>
<body>
    <div class="container-fluid">
    
        <form action="" method="post">
            <div class="form-row align-items-center">
                <div class="col-lg-4  col-sm-2"></div>
    
                <div class="col-lg-4  col-sm-8">
    
                    <div class="col-sm-12 col-md-12 mb-2">
                        <label class="validation1" for="validation1">Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <input name="name" type="text" id="validation1" class="form-control" placeholder="full name" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="validation2">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="far fa-user-circle"></i>
                                </div>
                            </div>
                            <input name="name" type="text" id="validation2" class="form-control" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="validation3">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            <input name="name" type="email" id="validation3" class="form-control" placeholder="Email" required>
                        </div>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="validation4">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <input name="name" type="text" id="validation4" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row container">
                            <div class="col-md-4 card mr-3">
                                <a href="">
                                    <div class="">
                                        Signin
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 card ml-3">
                                <div class="">
                                    Signin
                                    <i class="fab fa-google-plus-g"></i>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="col-md-12">
    
                        <button type="submit" class="btn btn-primary col-md-12 mt-2">Create Account</button>
                    </div>
                </div>
    
    
            </div>
            <div class="col-lg-4 col-sm-2"></div>
    
        </form>
    </div>
</body>
</html>