<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <link rel="stylesheet" href="../public/css/index.css">
    <meta http-equiv="Content-Type" content="text/html;homepage;more-recipe;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="title">Akolliy</div>
            <div class="menu">
                <a href="">blog</a>
                <a href="">signin</a>
                <a href="">register</a>
            </div>
            <div class="searchForm">
                <form action="" method="get">
                    <input type="text" placeholder="Send me an erran">
                    <input type="button" value="GO!">
                </form>
            </div>
        </header>
        <div class="backgroundImage"></div>
    <section class="backgroundContent">
        <h4> WELCOME! TO SARS LIMITED</h4>
        <h1>Grow your business with us We offer a complete delivery at a dispense.</h1>
        <div class="missionStatement">
            <div>
                mission statement:
            </div>
            <div>
                <span class="firstColum">"</span>
                to attract customers with high valued products and services and the most satisfying 
                <span class="secondColum">"</span>
            </div>
            <div>
                ownership experience in nigeria.
            </div>
        </div>

        <button type="button" class="backgroundBtn">GET STARTEDS</button>
        <div class="indicator">
            <a href="#">Recipes</a>
            <a href="#">Tour</a>
            <a href="#">Forum</a>
            <a href="#">codf</a>
        </div>
    </section>
    <SECTION class="SERVICE">
        <h2>Our Services</h2>
        
        <div class="service-options">
            <div>
                <span>
                    <i class="fa fa-star fa-2x"></i>
                </span>
                <h3>CREATIVE DESIGN</h3>
                <P>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    
            <div>
                <span>
                    <i class="fa fa-gear fa-2x"></i>
                </span>
                <h3>MULTIPURPOSE</h3>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    
            <div>
                <span>
                    <i class="fa fa-arrows-alt fa-2x"></i>
                </span>
                <h3>FULLY RESPONSIVE</h3>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    
            <div>
                <span>
                    <i class="fa fa-flag fa-2x"></i>
                </span>
                <h3>AWESOME FEATURES</h3>
                <P>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
    
            </div>
        </div>
        
    </SECTION>
    <!--END SERVICE -->

    <!--START NEWS -->
    <section class="portfolio">
        <h2>OUR PORTFOLIO</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="menuphoto">
            <ul>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">ALL</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">WEB DESIGN</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">GRAPHIC DESIGN</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">LOGO</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">PHOTOGRAPHY</a>
                </li>
            </ul>
            <div class="gallery">
                <img src="./assets/img/img_fjords.jpg" alt="">
                <img src="./assets/img/htmlcss1-img_singaporeskyline.jpeg" alt="">
                <img src="./assets/img/Capture2.jpg" alt="">
                <img src="./assets/img/img_lights.jpg" alt="">
    
                
            </div>
            <span>
                <a href="#">LOAD MORE
                    <i class="fa fa-random"></i>
                </a>
            </span>
        </div>
    </section>
    <!--END NEWS -->

    <!--START BLOG -->
    <section class="blog">
        <h2>BLOG</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
                
        <a href="">GET STARTED</a>
    </section>
    <!--END BLOG -->

    <!--START NEWS -->
    <section class="news">
        <h2>LATEST NEWS</h2>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="news-dev">
            <div>
                <img src="./assets/img/img_fjords.jpg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        
            <div>
                <img src="./assets/img/htmlcss1-img_singaporeskyline.jpeg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        
            <div>
                <img src="./assets/img/img_lights.jpg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        
            <div>
                <img src="./assets/img/img_fjords.jpg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        
    </section>
    <!--END NEWS -->

    <!--START OUR TEAM -->
    <section class="ourteam">
        <h2>OUR TEAM</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    
        <div class="team-dev">
            <div>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>A.D AKOLADE</h3>
                <p>CO FOUNDER</p>
            </div>
    
            <div>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>T.A DAYO</h3>
                <p>CO FOUNDER</p>
            </div>
    
            <div>
                <p class="walltext">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>R.A TITILAYO</h3>
                <span>CO FOUNDER</span>
            </div>
    
            <div>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>A.K QUEENBABY</h3>
                <span>CO FOUNDER</span>
            </div>

            
        </div>

    </section>
    <!--END OUR TEAM -->

    <!--START OUR SKILLS -->
    <section class="ourclass">
        <h2>OUR SKILLS</h2>
        <P>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </P>
    
        <div class="leftskills">
            <div class="technique">
                <h2>PHOTOSHOP</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>WEB DEVELOPMENT</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>ILLUSTRATION</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>WORDPRESS</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>BRANDING</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>PHOTOGRAPHY</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
    
    
        </div>
    </section>
    <!--END OUR SKILLS -->

    <!--Start Count -->
    <section class="count">
        <div>
            <span>
                <i class="fa fa-smile-o fa-2x"></i>
            </span>
            <h3>25,646</h3>
            <span>HAPPY CUSTOMERS</span>
        </div>
    
        <div>
            <span>
                <i class="fa fa-clock-o fa-2x"></i>
            </span>
            <h3>45,646</h3>
            <span>HAPPY in WORK</span>
        </div>
    
        <div>
            <span>
                <i class="fa fa-desktop fa-2x"></i>
            </span>
            <h3>85,646</h3>
            <span>WEB PAGES</span>
        </div>
    
        <div>
            <span>
                <i class="fa fa-folder-open-o fa-2x"></i>
            </span>
            <h3>35,646</h3>
            <span>PROJECTS</span>
        </div>
    
    </section>
    
    <!--END Count -->

    <!--start our team tow -->
    <section class="ourteamtow">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    
        <div>
            <i class="fa fa-quote-left"></i>
        </div>
    </section>
    
    <!--end our team tow --><div class="backgroundImage"></div>
    <section class="backgroundContent">
        <h4> WELCOME! TO SARS LIMITED</h4>
        <h1>Grow your business with us We offer a complete delivery at a dispense.</h1>
        <div class="missionStatement">
            <div>
                mission statement:
            </div>
            <div>
                <span class="firstColum">"</span>
                to attract customers with high valued products and services and the most satisfying
                <span class="secondColum">"</span>
            </div>
            <div>
                ownership experience in nigeria.
            </div>
        </div>
    
        <button type="button" class="backgroundBtn">GET STARTEDS</button>
        <div class="indicator">
            <a href="#">Recipes</a>
            <a href="#">Tour</a>
            <a href="#">Forum</a>
            <a href="#">codf</a>
        </div>
    </section>
    <SECTION class="SERVICE">
        <h2>Our Services</h2>
    
        <div class="service-options">
            <div>
                <span>
                    <i class="fa fa-star fa-2x"></i>
                </span>
                <h3>CREATIVE DESIGN</h3>
                <P>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    
            <div>
                <span>
                    <i class="fa fa-gear fa-2x"></i>
                </span>
                <h3>MULTIPURPOSE</h3>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    
            <div>
                <span>
                    <i class="fa fa-arrows-alt fa-2x"></i>
                </span>
                <h3>FULLY RESPONSIVE</h3>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    
            <div>
                <span>
                    <i class="fa fa-flag fa-2x"></i>
                </span>
                <h3>AWESOME FEATURES</h3>
                <P>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </P>
                <a href="#">READ MORE
                    <i class="fa fa-angle-right"></i>
                </a>
    
            </div>
        </div>
    
    </SECTION>
    <!--END SERVICE -->
    
    <!--START NEWS -->
    <section class="portfolio">
        <h2>OUR PORTFOLIO</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="menuphoto">
            <ul>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">ALL</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">WEB DESIGN</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">GRAPHIC DESIGN</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">LOGO</a>
                </li>
                <li>
                    <a href="C:\Users\HOS\Downloads\GOODsiteINSHALAU\pictures\portfolio.jpg">PHOTOGRAPHY</a>
                </li>
            </ul>
            <div class="gallery">
                <img src="./assets/img/img_fjords.jpg" alt="">
                <img src="./assets/img/htmlcss1-img_singaporeskyline.jpeg" alt="">
                <img src="./assets/img/Capture2.jpg" alt="">
                <img src="./assets/img/img_lights.jpg" alt="">
    
    
            </div>
            <span>
                <a href="#">LOAD MORE
                    <i class="fa fa-random"></i>
                </a>
            </span>
        </div>
    </section>
    <!--END NEWS -->
    
    <!--START BLOG -->
    <section class="blog">
        <h2>BLOG</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    
        <a href="">GET STARTED</a>
    </section>
    <!--END BLOG -->
    
    <!--START NEWS -->
    <section class="news">
        <h2>LATEST NEWS</h2>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="news-dev">
            <div>
                <img src="./assets/img/img_fjords.jpg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
    
            <div>
                <img src="./assets/img/htmlcss1-img_singaporeskyline.jpeg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
    
            <div>
                <img src="./assets/img/img_lights.jpg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
    
            <div>
                <img src="./assets/img/img_fjords.jpg" alt="" />
                <span>1 JUL 2017</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    
    </section>
    <!--END NEWS -->
    
    <!--START OUR TEAM -->
    <section class="ourteam">
        <h2>OUR TEAM</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    
        <div class="team-dev">
            <div>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>A.D AKOLADE</h3>
                <p>CO FOUNDER</p>
            </div>
    
            <div>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>T.A DAYO</h3>
                <p>CO FOUNDER</p>
            </div>
    
            <div>
                <p class="walltext">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>R.A TITILAYO</h3>
                <span>CO FOUNDER</span>
            </div>
    
            <div>
                <img src="./assets/img/inspirational-presidential-quotes-lincoln.jpg" alt="" />
                <h3>A.K QUEENBABY</h3>
                <span>CO FOUNDER</span>
            </div>
    
    
        </div>
    
    </section>
    <!--END OUR TEAM -->
    
    <!--START OUR SKILLS -->
    <section class="ourclass">
        <h2>OUR SKILLS</h2>
        <P>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </P>
    
        <div class="leftskills">
            <div class="technique">
                <h2>PHOTOSHOP</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>WEB DEVELOPMENT</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>ILLUSTRATION</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>WORDPRESS</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>BRANDING</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
            <div class="technique">
                <h2>PHOTOGRAPHY</h2>
                <h5>95%</h5>
                <div>
                    <span></span>
                </div>
            </div>
    
    
    
        </div>
    </section>
    <!--END OUR SKILLS -->
    
    <!--Start Count -->
    <section class="count">
        <div>
            <span>
                <i class="fa fa-smile-o fa-2x"></i>
            </span>
            <h3>25,646</h3>
            <span>HAPPY CUSTOMERS</span>
        </div>
    
        <div>
            <span>
                <i class="fa fa-clock-o fa-2x"></i>
            </span>
            <h3>45,646</h3>
            <span>HAPPY in WORK</span>
        </div>
    
        <div>
            <span>
                <i class="fa fa-desktop fa-2x"></i>
            </span>
            <h3>85,646</h3>
            <span>WEB PAGES</span>
        </div>
    
        <div>
            <span>
                <i class="fa fa-folder-open-o fa-2x"></i>
            </span>
            <h3>35,646</h3>
            <span>PROJECTS</span>
        </div>
    
    </section>
    
    <!--END Count -->
    
    <!--start our team tow -->
    <section class="ourteamtow">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    
        <div>
            <i class="fa fa-quote-left"></i>
        </div>
    </section>
    
    <!--end our team tow -->
    </div>
</body>
</html>