node_modules
.env
/bin/debug
/bin/Release
obj
dist
views
/build
/client/hoc/Auxs
/coverage
/build-server
npm-debug.log
.vs
.nyc_output
.vscode
.DS_Store
*.log
/e2ereports
/screenshots
/public/css/util