.SearchContent {display: block;text-align: center;padding-top: 20px;color: rgb(166, 226, 203)}
.nxt-subject{display: block;text-align: center;padding-top: 20px;color: rgb(166, 226, 203)}
.color {color: rgb(166, 226, 203)}