.Dot {
    display: flex;
    font-weight: 800;
    width: 5px;
    box-sizing: border-box;
    flex-direction: column;
    /* padding: 0.5;
    margin: 0.6 */
}
.Dot div {
    height: 1px;
    width: 1px;
    color: rgb(166, 226, 203);
    border: 1px solid rgb(166, 226, 203);
    padding: 1px;
    margin-bottom: 1px;
    background: rgb(166, 226, 203);
    z-index: 1;
}