<aside class="col-md-4 mb-2">
    <div class="card">
        <div class="card-body">
            <div>
                <div>
                    <span class="click fas fa-globe color"></span> Intro</div>
                <div class="status">hard working persionate very good all the best blah blah
                    <span class="ml-2 click fas fa-pen-square color"></span>
                </div>
                <hr>
            </div>
            <div>
                <div class="far fa-thumbs-up color"></div>
                <div>i like cooking ,Infact it's my hobby.
                    <span class="ml-2 click fas fa-pen-square color"></span>
                </div>
                <hr>
            </div>
            <div>
                <button type="button" class="btn btn-primary">
                    Favorites
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <hr>
            </div>
            <div>
                <button type="button" class="btn btn-primary">
                    ALL RECIPES
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <hr>
            </div>
        </div>
    </div>
</aside>