<div class="">
    <button type="button" class="btn btn-default">
        <span class="badge badge-light">500k</span>
        <span class="sr-only">unread messages</span>
        Hits
    </button>
    <button type="button" class="btn btn-light">
        <span class="badge badge-light">0</span>
        <span class="sr-only">unread messages</span>
        Knock
    </button>
    <!-- button to display comment -->
    <button type="button" class="btn btn-light">
        <span class="badge badge-light">30</span>
        <span class="sr-only">unread messages</span>
        comments
    </button>
</div>