.HeaderSize {
     font-size: 22px
}
.Color {
     color: rgb(166, 226, 203)!important
}
.HeaderNotification {
     position: relative;
     font-size: 10px;
     left: -12px;
     color: white;
     padding: 2px;
     border-radius: 10px;
     top: -12px;
     background: rgb(233, 24, 24)
}
.HeaderActive{
    background: rgb(95, 95, 243);
    color: white !important;
}
.Image {
    width: 35px;
    height: 2rem !important;
    font-size: .78571429rem;
    margin-right: .25em;
    display: inline-block;
    border-radius: 500rem;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    border: 0;
    box-sizing: border-box;
}