 .HeaderLinkSpace{padding-right: 10px !important;color: rgb(166, 226, 203)}
 .Link:active { background-color: rgb(166, 226, 203) !important; color: rgb(193,194,195) !important}
    .Uppercase{text-transform: uppercase}
    .Navbrand,.NavIcon{color: rgb(166, 226, 203) !important}
    .TopDivContainer ul li .nav-text{color: green !important}
    .Color{color: rgb(166, 226, 203) !important}
    /* nav .collapse .justify{display: flex !important;text-align: start !important} */
    .subject{display: block;text-align: center;padding-top: 50px;color: rgb(166, 226, 203)}
    .nxt-subject{display: block;text-align: center;padding-top: 20px;color: rgb(166, 226, 203)}
    /* for search inner icon but not yet implemented */
    .SearchForm{position: relative !important;left: -90% !important;border-color: green !important}
    @media (max-width: 992px) {
        .TopDivContainer .hide{display: none !important}
        .TopDivContainer .clear{ clear:both !important}
        
    }
    @media (min-width: 992px){
        .TopDivContainer{display: flex}
        .SearchFormDiv{flex-basis: 35%}
    }
    /* css for search bar */
    @media (min-width: 650px) {
        .SearchInput[type=search] {
            width: 10rem;
            border: 0.125rem solid #e6e6e6;
            box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
            border-radius: 0;
            background-image: url("../../../assets/Images/search-2.png");
            background-position: 5px 0.625rem;
            background-size: 22px;
            background-repeat: no-repeat;
            padding: 0.75rem 1.25rem 0.75rem 2rem;
            transition: width 0.4s ease-in-out;
        }
        .SearchInput[type=search]:focus {
        width: 100%;
        }
    }